html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    word-spacing: 3px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    max-width: 100vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }

  .container {
    height: auto;
  }

  .bgContainer {
    height: 100vh;
    width: 100vw;
    background: rgba(26, 26, 26, 0.514) url(/assets/background4.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -4;
    top: 0;
  }

  .headerContainer {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    margin: 5vh auto;

  }

  .partnerHeader {
    width: 25vw;
    padding-right: 5vw;
    padding-bottom: 3vh;

  }

  .outerContainer {
    width: 100vw;
  }


  .outer {
    margin-top: 40vh;

    margin-left: 10vw;
    margin-right: 10vw;
    height: 20vh;
    min-width: 100vh;
    overflow: hidden;

    display: flex;
    gap: 10vw;
    align-items: center;
    overflow: hidden;
    cursor: grab;
  }

  .outerGrid {
    height: 20vh;
    min-width: 100vh;
    background: black;
    margin-top: -35vh;
    margin-bottom: 5vh;
  }

  .grid {
    display: flex;
    gap: 25vw;
    align-items: center;
    height: 20vh;
    min-width: 80vh;
    transition: all 1s;
    animation: scroll 15s linear infinite alternate both paused;

  }

  @keyframes scroll {
    100% {
      transform: translateX(-280vw);
    }
  }

  .paraOne {
    color: rgba(255, 255, 255, 0.9);
    /* font-size: 1.7vw; */
    /* margin: 0 8vw; */
    /* text-align: left; */
  }

  .headerOne,
  .thank {
    color: white;
    font-size: 1.7vw;
    margin: 0 8vw;
    text-align: center;


  }

  .headerOne {
    font-size: 3.5vw;
    color: gold;
  }

  .pageTwo {
    width: 100vw;
    background: rgba(0, 0, 0, 0.476);
  }




  .partnerImg {
    width: 30vw;
  }

  #partnerImg1 {

    min-width: 20vw;
  }

  button {
    position: absolute;
    left: 90vw;
    border: none;
    padding: 0px;
    border-radius: 1rem;
  }

  .hamburger-Menu {
    font-family: 'Red Hat Text', sans-serif;
    width: 100vw;
    height: 0vh;
    background: rgba(0, 0, 0, 0.699);
    position: fixed;
    z-index: 8;
    top: 0;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }

  .navList {
    list-style: none;

    width: 60vw;

  }

  .navItems>a {
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
    font-size: 5vw;
    font-weight: 700;
    /* text-shadow: 0px 10px 20px rgb(0, 0, 0); */
  }

  /* .navItems>a:hover {
    font-size: 6vw;
  } */

  /* .close-Icon {
    height: 5vw;
    width: 5vw;
    margin-left: 5vw;
    cursor: pointer;
    margin-right: 10rem;
  } */

  .navIcons {
    display: flex;
    gap: 1rem;
    position: fixed;
    z-index: 6;
    top: 7vh;
    left: 0vw;
    width: 95vw;
    justify-content: flex-end;
    align-items: center;
  }

  .back {
    padding: 1rem 3rem;
    background: rgb(255, 255, 255);
    height: 6vh;
    min-width: 9vw;
    color: black;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
  }

  /* #hamburger-Image {
    width: 3vw;
    cursor: pointer;
  } */

  #hamburger-Image {
    width: 40px;
    cursor: pointer;
    position: absolute;
    position: absolute;
    top: 28px !important;
    right: 45px !important;
}

  .wholesale {
    display: none;
  }

  .wholesaleMob {
    width: 50vw;
    margin-inline: 25vw;
    margin-top: 10vh;
    opacity: 0;
    transition: all 0.8s ease-in;
  }

  .para,
  .thank {
    font-size: clamp(14px, 1vw, 20px);
  }

  .para {
    min-height: 20vh;
    /* opacity: 0; */
    /* transition: all 0.5s ease-in; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 5vw;
    /* line-height: 3.5vh; */
    place-items: center;
    padding-block: 5vh;
    font-size: 18px;
    font-weight: lighter;
    line-height: 26px;
    text-align: justify;
  }


  @media only screen and (max-width:768px) {
    html {
      max-width: 100vw;
      overflow-x: hidden;
    }

    body {
      max-width: 100vw;

      display: flex;
      align-items: center;

    }

    .hamburger-Menu {
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.699);
      position: fixed;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      left: -100vw;
      transition: all 1s ease-in-out;
    }

    .navList {
      /* margin-top: 10vh; */
      list-style: none;
      width: 80vw;
    }

    .navItems>a {
      text-decoration: none;
      font-family: 'Barlow Condensed', sans-serif;
      color: rgb(255, 255, 255);
      transition: all 0.2s ease-in;
      font-size: 10vw;
      font-weight: 700;
      text-shadow: 0px 10px 20px rgb(0, 0, 0);

    }

    /* .navItems>a:hover {
      font-size: 12vw;
    } */

    .close-Icon {
      margin-top: -12px;
    }

    .navIcons {
      width: 100vw;
      height: fit-content;
      background: rgba(0, 0, 0, 0.479);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      z-index: 3;
      border-bottom: 1px solid gold;
      opacity: 1;
      transition: all 1s ease-in-out;
    }

    /* #hamburger-Image {
      width: 10vw;
      margin: 2.5vh 0;
    } */

    .hamBurger {
      cursor: pointer;
      display: grid;
      gap: 1rem;
      place-items: center;
      margin-left: 3.5rem;
      margin-top: 5rem;

    }

    .para {
      text-align: justify;
      font-size: 18px;
      font-weight: lighter;
      line-height: 26px;
      padding: 0 !important;
      color: rgba(255, 255, 255, 0.9);
    }

    .paraOne {
      margin: 7vh 5vw;


    }

    .wholesale {
      display: none;
    }

    .wholesaleMob {
      /* margin-top: 20vw; */
      width: 94vw;
      margin-inline: 3vw;
    }

    .outerGrid {
      height: 20vh;
      max-width: 100vh;
      background: black;
      margin-top: -35vh;
      margin-bottom: 5vh;
    }

    #scroll {
      left: 85vw;
    }
  }